/* most of the css you can see on this file I saw in w3schools and then I changed it up*/
.slideshow-cont{
    max-width: fit-content;
    position: relative;
    margin: auto;
    margin-left: 30px;
    margin-right: 20px;
}
.slideshow{
    display: none;
    width: 50%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 17px;
    color: rgba(255, 255, 255, 0.801);
    font-weight:bolder;
    font-size: 18px;
    transition: 0.8s ease;
    border-radius: 0 4px 4px 0;
    user-select: none;
    
}
.next {
    border-radius: 4px 0 0 4px;
    right: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.81);
}
.undertxt {
    color: #f2f2f2;
    font-size: 50px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}
.slidenumber {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.two{
    position:relative;
    z-index: 1;
    height: 800px;
    width: max-content;
    margin-right: 300px;
}
/*code was taken from https://stackoverflow.com/questions/7241341/can-i-set-an-opacity-only-to-the-background-image-of-a-div I was struggling about this for a while but I modified the code myself as well*/
.two::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(32, 32, 32);
    opacity: 0.9;
}
.slideshow-cont img{
    width: 500px;
    max-width: 400px;

}